@use '../styles/colors';

table{
    width: 100%;

    tbody{
        tr{
            background-color: white;
            color: black;

            border: solid 1px colors.$ceed-main-color;

            th{
                background-color: colors.$ceed-main-color;
                color: white;
            }
        }

        td, th{
            padding: 1em;
        }
    }
}